<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="CGI-exe" />
            <add name="CGI-exe" path="*.exe" verb="*" type="" modules="CgiModule" scriptProcessor="" resourceType="File" requireAccess="Execute" allowPathInfo="true" preCondition="" responseBufferLimit="4194304" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".iso" mimeType="application/octet-stream" />
        </staticContent>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="qwq" defaultValue="">
                    <add key="/网页1" value="/网页1.exe" />
                    <add key="/网页2" value="/网页2.exe" />
                    <add key="/网页2/" value="/网页2.exe" />
                    <add key="/网页1/" value="/网页1.exe" />
                    <add key="/blogs" value="/网页2.exe" />
                    <add key="/index" value="/网页2.exe?index" />
                    <add key="/game" value="/网页2.exe?game" />
                    <add key="/bloglist" value="/网页2.exe?bloglist" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="重写规则1 对于 qwq">
                    <match url=".*" />
                    <conditions>
                        <add input="{qwq:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="QAQQQQ" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="blogs/(.+)" ignoreCase="false" />
                    <conditions>
                    </conditions>
                    <action type="Redirect" url="/%E7%BD%91%E9%A1%B52.exe?{R:1}" />
                </rule>
                <rule name="QVQ" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="blogs/" />
                    <conditions logicalGrouping="MatchAny" />
                    <action type="Redirect" url="/%E7%BD%91%E9%A1%B52.exe" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
